$primary   : #2030d1;
$secondary : #5071ff;
$accent    : #6104BA;

$dark      : #461d04;
$dark-page : #823e0c;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;	

$typography-font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif !default;




